h1.peachy Categories
ul
  li Featured
  li Computers
  each name in ['Desktop', 'Laptop', 'Ultra-Portable', 'Gaming', 'Servers', 'Wearable']
    li(class="indent")= name
  li Cameras
  each name in ['DSLR', 'Professional Video']
    li(class="indent")= name
  li Peripherals
  each name in ['Keyboards and Mice', 'Speakers', 'Headphones', 'Microphones', 'Monitors', 'Printers and Scanners', 'Projectors', 'HDMI Cables', 'HDMI Gameplay Recorders']
    li(class="indent")= name
  li Accessories
  each name in ['Cases', 'Power Banks', 'Docks']
    li(class="indent")= name
  li Tablets
  each name in ['Microsoft Surface', 'Android', 'Windows 10', 'Apple iPad']
    li(class="indent")= name
  li Smartphones
  each name in ['Batteries', 'Chargers', 'Bluetooth Accessories', 'Cases and Protection']
    li(class="indent")= name
  li Appliances
  each name in ['Blenders', 'Vacuums and Robots', 'Coffee Machines', 'Espresso Machines', 'Refrigerators']
    li(class="indent")= name
include layout
