extends ../shared/layout

block extra_styles
  link(rel="stylesheet", href="/stylesheets/auth.css")

block content
  //- Navigation Bar
  include ../shared/nav-list

  //- Profile and Header Photos
  -
    //- Either show their uploaded profile
    //- photo or grab one from Lorem Pixel
    var profilePhoto
    if (user.photo) {
      profilePhoto = '/images/users/' + user.photo
    } else {
      profilePhoto = 'http://lorempixel.com/500/500'
    }
    
    //- Either show their header photo or
    //- grab one from Lorem Pixel
    var headerPhoto
    if (user.header_photo) {
      headerPhoto = '/images/user-headers/' + user.header_photo
    } else {
      headerPhoto = 'http://lorempixel.com/1920/400'
    }
  div.profile-header-photo(style="background-image: url('#{headerPhoto}')")
    img(src=profilePhoto, alt="Profile photo")
    h1= user.full_name

  div.profile-container
    //- Navigation Sidebar
    nav
      ul
        -
          var navigationItems = [
            'Profile',
            'Photos',
            'Password'
          ];
        each navigationItem in navigationItems
          a.form-changer(href="#"): li= navigationItem

    //- Flash the saved message if their changes were saved
    p.saved-message!= saved

    //- Profile Form
    form.profile-info(action="/auth/profile/update", method="POST")
      div.labels-and-fields
        label
          span.title First Name
          input(type="text", name="first_name", value=user.first_name, placeholder="First Name")
        label
          span.title Last Name
          input(type="text", name="last_name", value=user.last_name, placeholder="Last Name")
        label
          span.title Email Address
          input(type="text", name="email_address", value=user.email_address, placeholder="Email Address")
        label
          span.title Location
          input(type="text", name="location", value=user.location, placeholder="Location")
      button.red Save

    //- Profile and Header Photos Form
    form.profile-info(action="/auth/profile/update", style="display: none", method="POST", enctype="multipart/form-data")
      div.labels-and-fields
        label.wide
          span.title Profile Photo
          input(type="file", accept="image/*", name="profile_photo")
        label.wide
          span.title Header Photo
          input(type="file", accept="image/*", name="profile_header_photo")
        button.red Save

    //- Password Change Form
    form.profile-info(action="/auth/profile/update", style="display: none", method="POST")
      div.labels-and-fields
        label
          span.title Password
          input(type="password", name="password", placeholder="Password")
        label
          span.title One More Time
          input(type="password", name="password_confirmation", placeholder="One More Time")
      button.red Save

block extra_scripts
  script(src="/scripts/profile.js")
