- var viewsUsingNoImage = ['/cart', '/auth/register', '/auth/login']
nav(class="#{(viewsUsingNoImage.indexOf(currentUrlPath) != -1) ? 'pink-to-orange' : ''}")
  a(href="/", class="escape-hatch") Savannah
  ul
    li
      a(href="/electronics", class="#{currentUrlPath == '/electronics' ? 'current' : ''}") Electronics
    li
      a(href="/software", class="#{currentUrlPath == '/software' ? 'current' : ''}") Software
    li
      a(href="/hardware", class="#{currentUrlPath == '/hardware' ? 'current' : ''}") Hardware
    li
      a(href="/seminars", class="#{currentUrlPath == '/seminars' ? 'current' : ''}") Seminars
    - console.log(user)
    if user != undefined
      li
        a(href="/cart", class="#{currentUrlPath == '/cart' ? 'current' : ''}") Cart
      li
        a(href="#", class="#{currentUrlPath == '/starred' ? 'current' : ''}") Starred
    li
      if user != undefined
        button.tan
          a(href="/auth/logout") Logout
      else
        button.tan
          a(href="/auth/login") Login
        button.lite.tan
          a(href="/auth/register") Sign up
  button.pancakes
    span
    span
    span
