-
  var viewsWhoNeedThinNavBars = [
    '/cart',
    '/auth/register',
    '/auth/login',
    '/auth/profile'
  ];
nav(class="top-navigation", class=(viewsWhoNeedThinNavBars.indexOf(currentUrlPath) != -1) ? 'pink-to-darker-pink' : '')
  a(href="/", class="escape-hatch") Savannah
  ul
    li
      a(href="/electronics", class="#{currentUrlPath == '/electronics' ? 'current' : ''}") Electronics
    li
      a(href="/software", class="#{currentUrlPath == '/software' ? 'current' : ''}") Software
    li
      a(href="/hardware", class="#{currentUrlPath == '/hardware' ? 'current' : ''}") Hardware
    li
      a(href="/seminars", class="#{currentUrlPath == '/seminars' ? 'current' : ''}") Seminars
    if user != undefined
      li
        a(href="/cart", class="#{currentUrlPath == '/cart' ? 'current' : ''}") Cart
      li
        a(href="/auth/profile", class="#{currentUrlPath == '/auth/profile' ? 'current' : ''}") Profile
    if user != undefined
      li
        button.lite.red
          a(href="/auth/logout") Logout
    else
      li
        button.red
          a(href="/auth/login") Login
      li
        button.lite.red
          a(href="/auth/register") Sign up
  button.pancakes
    span
    span
    span
