extend shared/layout

block extra_metadata
  meta(name="description", content="List of products added to the cart")

block extra_styles
  link(rel="stylesheet", href="/stylesheets/product-view.css")
  link(rel="stylesheet", href="/stylesheets/cart.css")

block content
  //- Navigation
  include shared/nav-list.jade
  
  main
    //- Search Bar
    include shared/search-bar
    
    //- Carted Products
    h1.peachy.dark.section-title Cart
    section.products
      if products.length == 0
        p.empty-cart-message It appears as though your cart is empty.
      - var i = 0
      while i < products.length
        section.can-delete(data-product-asin=products[i].ASIN[0])
          h1
            a(href="/products/" + products[i].ASIN[0])= products[i].ItemAttributes[0].Brand + " " + products[i].ItemAttributes[0].Model
            span.delete &times;
          div.image-mask
            img(src=products[i].LargeImage[0].URL[0])
          p= products[i].ItemAttributes[0].Title
          - if (products[i].ItemAttributes[0].ListPrice)
            //- We have the price, show it
            p.price= products[i].ItemAttributes[0].ListPrice[0].FormattedPrice[0]
          a(href="/products/" + products[i].ASIN[0]) More &raquo;
        - i++
  aside
    //- Price
    p
      span Subtotal:
      span= subtotal
    p
      span Tax:
      span= tax
    p
      span Total:
      span= total

    //- Checkout Form
    form(action="#", method="POST")
      h2 You:
      //- Full Name
      input(type="text", name="first_name", placeholder="First Name")
      input(type="text", name="last_name", placeholder="Last Name")
      //- Shipping Address
      input(type="text", name="shipping_address_line_1", placeholder="Street Address")
      input(type="text", name="shipping_address_line_2", placeholder="Second Address Line")
      input(type="text", name="city", placeholder="City")
      input(type="text", name="state", placeholder="State")
      input(type="text", name="ZIP", placeholder="ZIP")
      //- Payment Info
      input(type="text", name="card_number", placeholder="Card Number")
      input(type="text", name="name_on_the_card", placeholder="Name on the Card")
      input(type="text", name="month", placeholder="Month")
      input(type="text", name="year", placeholder="Year")
      input(type="text", name="CVV", placeholder="CVV")
      //- Options
      label(for="should_bill_shipping_address")
        input#should_bill_shipping_address(
          type="checkbox",
          name="should_bill_shipping_address"
        )
        | Bill my Shipping Address
      br
      label(for="agrees_to_terms_and_conditions")
        input#agrees_to_terms_and_conditions(
          type="checkbox",
          name="agrees_to_terms_and_conditions"
        )
        | I agree to the Terms and Conditions
      //- Checkout Button
      button Checkout

block extra_scripts
  script(src="/scripts/cart.js")
  script(src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js")
  if products.length > 0
    script(src="/scripts/product-view.js")
