extends shared/layout

block extra_styles
  link(rel="stylesheet", href="/stylesheets/products.css")

block content
  //- Navigation Bar
  include shared/nav-cta

  //- Categories
  aside
    include shared/categories/hardware

  //- Hardware
  section(class="hardware")
  each product in products
    div
      h1= product.ItemAttributes[0].Brand + " " + product.ItemAttributes[0].Model
      img(src=product.LargeImage[0].URL[0])
      p= product.ItemAttributes[0].Title
      ul
      each feature in product.ItemAttributes[0].Feature
        li= feature
    p= product.ItemAttributes[0].ListPrice[0].FormattedPrice
    a(href="/products/" + product.ASIN[0]) More &raquo;
