extends shared/layout

block extra_styles
  link(rel="stylesheet", href="/stylesheets/products.css")

block content
  //- Navigation Bar
  include shared/nav-list

  //- CTA
  include shared/ctas/product

  //- Categories
  aside
    include shared/categories/hardware

  main
    //- Search Bar
    section.search-bar
      a.sort(href="#") Sort &#9662;
        ul.sorting-options
          li Newest
          li Most Popular
          li Greatest Expense
          li Least Expense
      input(type="text", name="search-query", placeholder="Search...")
    
    //- Hardware
    section.products
    h1.peachy Clearance
    each product, i in products
      div
        h1= product.ItemAttributes[0].Brand + " " + product.ItemAttributes[0].Model
        img(src=product.LargeImage[0].URL[0])
        p= product.ItemAttributes[0].Title
        ul
        each feature in product.ItemAttributes[0].Feature
          li= feature
      - if (product.ItemAttributes[0].ListPrice)
        - // We have the price, show it
        p= product.ItemAttributes[0].ListPrice[0].FormattedPrice[0]
      a(href="/products/" + product.ASIN[0]) More &raquo;
      if i == 6
        h1.peachy Featured
