extends shared/layout

block extra_metadata
  meta(name="description", content="Review price, description, images, and reviews of a product.")

block extra_styles
  link(rel="stylesheet", href="/stylesheets/product-detail.css")

block content
  //- Navigation Bar
  include shared/nav-list

  //- CTA
  include shared/ctas/product

  main
    //- Preview Images
    section.preview-images
      ul.previews
        each image in productImages.slice(0, 4)
          li
            span
              img(src=image.LargeImage[0].URL, alt="Product image")
      div.mask
        span.helper
        img(src=productImages[0].LargeImage[0].URL, alt="Product Image", class="large-image")
    
  aside.product-detail
    //- Description
    section(class="description")
      - if (productListPrice)
        //- We have the price, show it
        p.price= productListPrice
      h1= productInfo.Brand + " " + productInfo.Model
      p= productInfo.Title
      ul
        - var feature_i = 0
        while feature_i < 3
          li= productInfo.Feature[feature_i]
          - feature_i++
      a(href="/cart/add/" + productAsin)
        button Add to Cart

  //- Half-Width Images
  section.half-width-images
    each image in productImages
      div.mask
        span.helper
        img(src=image.LargeImage[0].URL, alt="Product image")
  
  //- Reviews
  - var i = 0
  while i < 5
    section.review
      div.left
        p!= productComments[0].text
      div.right
        img(src="/images/users/" + productComments[0].author.photo, alt="Photo of the author")
        h1= productComments[0].author.name
        p= productComments[0].time
        - i++

block extra_scripts
  script(src="/scripts/product-detail.js")
