extends shared/layout

meta(name="description", content="Detailed information about seminars such as reviews, comments, and description.")

block extra_styles
  link(rel="stylesheet", href="/stylesheets/seminars.css")

block content
  //- Navigation Bar
  include shared/nav-list
  
  //- CTA-style Description
  section.cta(style="background-image: url('/images/cta-headers/laravel-5.jpg')")
    section
      h1= seminar.title
      p= seminar.description
      a(href="#" + seminar.idHash)
        button Book
      a(href="#" + seminar.idHash)
        button.yellow Star
  
  //- Reviews
  main.left
    h1.peachy.dark.section-title.grey-to-silver Reviews
    - var review_i = 0
    while review_i < 15
      section.review
        div.left
          div.stars
            - var star_i = 0
            while star_i < seminar.reviews[0].stars
              img(src="/icons/star.png", alt="Star")
              - star_i++
            if seminar.reviews[0].stars < 5
              - var unstar_i = 0
              - var amount_unstarred = 5 - seminar.reviews[0].stars
              while unstar_i < amount_unstarred
                img(src="/icons/unstar.png", alt="Hollow Star")
                - unstar_i++
          p= seminar.reviews[0].body
          - var comments_word = (seminar.reviews[0].comments.length > 1) ? "Comments" : "Comment"
          a(href='#')= seminar.reviews[0].comments.length + " " + comments_word
        div.right
          div.author
            img(src="/images/users/" + seminar.reviews[0].author.imageFilename, alt="Photo of " + seminar.reviews[0].author.name)
            p= seminar.reviews[0].author.location
            - var date = new Date(seminar.reviews[0].author.createdAt)
            p= months[date.getMonth()] + " " + date.getDay() + ", " + date.getFullYear()
        //- Comments
        if review_i == 0
          div.review_comments
            - var comment_i = 0
            while comment_i < 3
              div.review_comment
                p= seminar.reviews[0].comments[0].body
                div.right
                  img(src='/images/users/' + seminar.reviews[0].comments[0].author.imageFilename, alt="Photo of " + seminar.reviews[0].comments[0].author.name)
                  div.author_details
                    p= seminar.reviews[0].comments[0].author.name
                    p= seminar.reviews[0].comments[0].author.location
                    - var date = new Date(seminar.reviews[0].comments[0].createdAt)
                    p= months[date.getMonth()] + " " + date.getDay() + ", " + date.getFullYear()
              - comment_i++
      - review_i++
    
  //- Review
  aside.right
    h1.peachy.dark.section-title Share a Review
    form(action="/seminars/review", method="POST")
      h2 You:
      input(type="text", name="full_name", placeholder="Full Name")
      input(type="text", name="email_address", placeholder="Email Address")
      textarea(name="review_body" rows="20", placeholder="Review")
      div.stars
        img(src="/icons/star.png", alt="Star")
        img(src="/icons/star.png", alt="Star")
        img(src="/icons/star.png", alt="Star")
        img(src="/icons/star.png", alt="Star")
        img(src="/icons/star.png", alt="Star")
      button Post

block extra_scripts
  script(src="/scripts/seminar-detail.js")
