extends shared/layout

block extra_styles
  link(rel="stylesheet", href="/stylesheets/products.css")

block content
  //- Navigation Bar
  include shared/nav-list
  
  //- CTA-style Description
  section.cta
    img(src="/images/cta-headers/laravel-5.jpg", alt="Featured post background image")
    section
      h1= seminar.title
      p= seminar.description
      a(href="#" + seminar.idHash)
        button Book
      a(href="#" + seminar.idHash)
        button Star
  
  //- Reviews
  main
    h1 Reviews
    - var review_i = 0
    while review_i < 15
      section(class="review")
        - var star_i = 0
        while star_i < seminar.reviews[0].stars
          span *
          - star_i++
        p= seminar.reviews[0].description
        a(href='#')= seminar.reviews[0].comments.length + " Comments"
        //- Comments
        if review_i == 0
          - var comment_i = 0
          while comment_i < 3
            p= seminar.reviews[0].comments[0].body
            img(src=seminar.reviews[0].comments[0].author.selfie_filename, alt="Photo of " + seminar.reviews[0].comments[0].author.name)
            h1= seminar.reviews[0].comments[0].author.name
            h2= seminar.reviews[0].comments[0].author.location
            - comment_i++
      - review_i++
    
  //- Review
  aside
  h1 Share a Review
  form(action="/seminars/review", method="POST")
    input(type="text", name="full_name", placeholder="Full Name")
    input(type="text", name="email_address", placeholder="Email Address")
    textarea(name="review_body" rows="20", placeholder="Review")
    span * * * * *
    input(type="submit", value="Post")
